<div class="stats-card">
  @if (iconName) {
    <div
      class="stats-card__icon"
      [style.background-color]="iconBg"
      [style.color]="iconColor"
    >
      <lucide-icon [img]="iconName" [size]="20" />
    </div>
  }
  <div class="stats-card__info">
    <span class="stats-card__title">{{ title }}</span>
    <span class="stats-card__value">{{ value }}</span>
    @if (subtitle) {
      <span class="stats-card__subtitle">{{ subtitle }}</span>
    }
    @if (change) {
      <span class="stats-card__change" [class]="'stats-card__change--' + changeType">
        @switch (changeType) {
          @case ('positive') {
            <lucide-icon [img]="TrendingUpIcon" [size]="12" />
          }
          @case ('negative') {
            <lucide-icon [img]="TrendingDownIcon" [size]="12" />
          }
          @default {
            <lucide-icon [img]="MinusIcon" [size]="12" />
          }
        }
        {{ change }}
      </span>
    }
  </div>
</div>
